.detail {
  padding: 20rem 0 10rem 0; }
  .detail__images {
    border: 0.1rem solid #d93f4c;
    padding: 0.2rem; }
  .detail__info-name {
    font-size: 3.2rem;
    letter-spacing: 0.3rem; }
  .detail__info-price {
    font-size: 2rem;
    color: #d93f4c; }
  .detail__info-description {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2rem; }
  .detail__info-quantity {
    margin: 1rem 0; }
    .detail__info-quantity > span {
      border: 0.1rem solid #dfdfdf;
      padding: 1rem 1.5rem; }
    .detail__info-quantity-btn {
      padding: 1rem 1.5rem;
      border: none;
      outline: none;
      background: #d93f4c;
      color: #ffffff; }
  .detail__info .featured__item-cart {
    margin-left: 2rem;
    border: 1px solid #d93f4c;
    display: inline-block;
    background-color: #fff;
    color: #333333;
    width: 40%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease; }
    .detail__info .featured__item-cart:hover {
      background: #d93f4c;
      color: #ffffff; }

.section-title {
  padding: 1rem 0; }
  .section-title__title {
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #d93f4c;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #d93f4c; }
    .section-title__title.red-background {
      color: #ffffff;
      border-color: #ffffff; }
  .section-title__btn {
    padding: 1rem 2rem;
    border: 0.1rem solid #d93f4c;
    transition: 0.4s ease;
    cursor: pointer; }
    .section-title__btn.red-background {
      border-color: #ffffff; }
      .section-title__btn.red-background a {
        color: #ffffff; }
    .section-title__btn a {
      font-size: 1.6rem;
      color: #000000;
      transition: 0.4s ease; }
    .section-title__btn:hover {
      background-color: #d93f4c;
      border-color: #000000; }
      .section-title__btn:hover a {
        color: #ffffff; }

.slide-show {
  display: flex;
  justify-content: space-between; }
  .slide-show__item {
    flex: 0 0 24.5%;
    height: 20rem; }
