@import './variable.scss';

section {
    padding: 2rem 0;
}

.section-title {
    padding: 1rem 0;

    &__title {
        font-size: 2.2rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: $primary-color;
        padding: 1rem 0;

        border-bottom: .1rem solid $primary-color;


        &.red-background {
            color: $white-color;
            border-color: $white-color;
        }
    }

    &__btn {
        padding: 1rem 2rem;
        border: .1rem solid $primary-color;
        transition: 0.4s ease;
        cursor: pointer;

        &.red-background {
            border-color: $white-color;

            a {
                color: $white-color;
            }
        }

        a {
            font-size: 1.6rem;
            color: $black-color;
            transition: 0.4s ease;
        }

        &:hover {
            background-color: $primary-color;
            border-color: $black-color;

            a {
                color: $white-color;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .section-title {
        &__title {
            font-size: 1.2rem;
        }
    }
}


.featured {
    a {
        color: $black-color;
    }

    &__item {
        height: 49.8rem;
        width: 100%;
        border: .1rem solid #f1f1f1;
        border-radius: .8rem;
        padding: 7rem 1rem;
        position: relative;
        background: #f8f8f8;
        transition: 0.4s ease;
        margin-bottom: 2rem;



        &-new {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            padding: .5rem 1rem;
            color: $white-color;
            font-size: 1.6rem;
            border-radius: .5rem;
            background: $primary-color;
        }

        &-images {
            height: 80%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-info {
            margin: 1rem 0;
            text-align: center;
            color: $black-color;

            ins {
                text-decoration: none;
                font-size: 2rem;
                color: $primary-color;
            }

            p {
                margin: 0;
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
            }
        }

        &-cart {
            border: 1px solid $primary-color;
            background-color: #fff;
            color: #333333;

            padding: 1rem 2rem;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 2rem;
            text-align: center;

            transition: 0.4s ease;

            &:hover {
                background: $primary-color;
                color: $white-color;
            }
        }

        &:hover {
            border-color: $primary-color;
            cursor: pointer;
        }


    }

}

.product-sets {

    .custom-col {
        padding: 0 !important;
    }

    &__item {
        width: 100%;
        height: auto;



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;

        }

        &.sub-item {
            display: flex;
            flex-flow: column;
            justify-content: space-between;

        }
    }
}

@media screen and (max-width: 576px) {
    .custom-col {

        margin-bottom: 1rem;

    }
}

.images-wrapper {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
    }
}

.support {
    background: $primary-color;
    padding: 5rem 0;
    height: 35rem;

    &__form {
        margin-top: 1rem;
        background: $white-color;
        padding: 2rem;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column;

        -webkit-box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.75);


        &-info {
            padding: 2rem 0;

            &-group {
                margin: 1rem 0;

                label,
                input {
                    display: block
                }

                label {
                    font-size: 2rem;
                    color: $primary-color;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.3rem;
                    margin: 1rem 0;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    margin: 1rem 0;
                    border-bottom: .1rem solid #f1f1f1;
                    padding: 1rem 0;
                }
            }
        }

        input[type="submit"] {
            border: none;
            background: $primary-color;
            color: $white-color;
            padding: 1rem 2rem;
            margin: 0 auto;
            outline: none;
            transition: 0.4s ease;

            &:hover {
                border: .1rem solid $black-color;
                color: $black-color;
                background: none;
            }
        }
    }


}